<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/promotions.css" />
    <script
      src="https://kit.fontawesome.com/d2ba3c872c.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <input type="checkbox" id="menu_checkbox" />

    <!-- HEADER -->
    <header class="header">
      <!-- FLEX-LEFT -->
      <div class="flex-left">
        <label for="menu_checkbox">
          <div><i class="fa fa-bars" aria-hidden="true"></i></div>
          <div><i class="fa-solid fa-circle-arrow-right"></i></div>
        </label>
        <div class="icons">
          <div>
            <div>
              <div id="toggle-btn" class="fas fa-sun"></div>
            </div>
          </div>
        </div>
        <form action="" method="post" class="search-form">
          <input
            type="text"
            name="searchGlobal"
            value=""
            placeholder="Rechercher"
            maxlength="100"
          />
          <button
            type="submit"
            name="globalRecherche"
            class="fas fa-search"
          ></button>
        </form>
      </div>
      <!-- FLEX-RIGHT -->
      <div class="flex-right">
        <div class="date">
          <input type="date" id="choisir_date" name="date" />
        </div>
        <div class="logo">
          <img src="/assets/img/profile.jpeg" class="image" alt="" />
          <div class="info">
            <p>bobo Sow</p>
            <small id="user-btn">
              Admin <i class="fa fa-angle-down" aria-hidden="true"></i>
            </small>
          </div>
        </div>
      </div>

      <div class="profile">
        <a href="profile.html" class="btn">Voir profile</a>
        <div class="flex-btn">
          <form action="" method="post">
            <button type="submit" class="option-btn" name="deconnexion">
              <i class="fa fa-power-off" aria-hidden="true"></i> Se déconnecter
            </button>
          </form>
        </div>
      </div>
    </header>

    <!-- side-bar -->
    <div class="side-bar">
      <div class="logo">
        <img src="/assets/img/Logo-Sonatel-Academy.png" class="image" alt="" />
        <h3 class="menu">- MENU</h3>
      </div>
      <nav class="navbar">
        <a href="#"
          ><i class="fa fa-align-right" aria-hidden="true"></i
          ><span>Dashboard</span></a
        >
        <a href="#"
          ><i class="fa fa-graduation-cap" aria-hidden="true"></i
          ><span>Apprenants</span></a
        >
        <a href="#"
          ><i class="fa fa-list-alt" aria-hidden="true"></i>
          <span>Promos</span></a
        >
        <a href="#"
          ><i class="fa fa-calendar-plus-o" aria-hidden="true"></i
          ><span>Référentiels</span></a
        >
        <a href="#"
          ><i class="fa fa-user-circle-o" aria-hidden="true"></i
          ><span>Utilisateurs</span></a
        >
        <a href="#"
          ><i class="fa fa-user-circle-o" aria-hidden="true"></i
          ><span>Visiteurs</span></a
        >
        <a href="#"
          ><i class="fa fa-user-circle-o" aria-hidden="true"></i
          ><span>Presences</span></a
        >
        <a href="#"
          ><i class="fa fa-calendar-plus-o" aria-hidden="true"></i
          ><span>Événements</span></a
        >
      </nav>
    </div>
    <section class="home-section">
      <div class="title">
        <div class="left">Promotions</div>
        <div class="right">Promos * Liste</div>
      </div>
      <div class="content">
        <!-- partie2 lister apprenants -->
        <div class="container">
          <div class="flex-col-left"></div>
          <div class="flex-col-right">
            <div class="line2">
              <div class="div1">Liste Des Promotions <span>3</span></div>
              <div class="div2">
                <form action="#" method="post" class="search-form">
                  <input
                    type="text"
                    name="search"
                    placeholder="Rechercher ici..."
                    maxlength="100"
                    value=""
                  />
                  <button
                    type="submit"
                    name="recherche"
                    class="fas fa-search"
                  ></button>
                </form>
                <button
                  class="btn-hover nouvelle"
                  onclick="window.location.href='#'"
                >
                  + Nouvelle
                </button>
              </div>
            </div>
            <!-- Table -->
            <div class="container-table">
              <table class="line5">
                <thead>
                  <tr>
                    <th class="titre" data-label="Libelle">Libelle</th>
                    <th class="titre" data-label="date-debut">Date Début</th>
                    <th class="titre" data-label="date-fin">Date FIn</th>
                    <th class="titre" data-label="actions">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="line">
                    <td class="bloc">
                      <div class="col-bas" style="color: rgb(29, 109, 29)">
                        Promotion 6
                      </div>
                    </td>
                    <td class="bloc">
                      <div class="col-bas" style="color: rgb(29, 109, 29)">
                        21-01-2022
                      </div>
                    </td>
                    <td class="bloc">
                      <div class="col-bas email">21-02-2022</div>
                    </td>
                    <td class="bloc">
                      <div class="col-haut"></div>
                      <input type="checkbox" id="my-checkbox-0" />
                      <label for="my-checkbox-0"></label>
                    </td>
                  </tr>
                  <tr class="line">
                    <td class="bloc">
                      <div class="col-bas" style="color: rgb(29, 109, 29)">
                        Promotion 6
                      </div>
                    </td>
                    <td class="bloc">
                      <div class="col-bas" style="color: rgb(29, 109, 29)">
                        21-01-2022
                      </div>
                    </td>
                    <td class="bloc">
                      <div class="col-bas email">21-02-2022</div>
                    </td>
                    <td class="bloc">
                      <div class="col-haut"></div>
                      <input type="checkbox" id="my-checkbox-0" />
                      <label for="my-checkbox-0"></label>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="footer-table">
                <div class="items-per-page">
                  <label>Items par page : </label>
                  <a href="mypage.php?itemsPerPage=10">10</a>
                  <a href="mypage.php?itemsPerPage=20">20</a>
                  <a href="mypage.php?itemsPerPage=30">30</a>
                </div>
                <div class="pagination">
                  <a href="#" class="page-link prev"
                    ><i class="fas fa-angle-left"></i
                  ></a>
                  <a href="#" class="page-link active">0</a>
                  <a href="#" class="page-link">1</a>
                  <a href="#" class="page-link">2</a>
                  <a href="#" class="page-link next"
                    ><i class="fas fa-angle-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">&copy; Sonatel Academy</footer>
    </section>
    <div class="fixed-icon">
      <i class="fa-solid fa-gear"></i>
    </div>
  </body>
  <script src="assets/js/main.js"></script>
</html>
