<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/referentiels.css" />
    <script src="https://kit.fontawesome.com/d2ba3c872c.js" crossorigin="anonymous"></script>
</head>

<body>
    <input type="checkbox" id="menu_checkbox" />

    <!-- HEADER -->
    <header class="header">
        <!-- FLEX-LEFT -->
        <div class="flex-left">
            <label for="menu_checkbox">
                <div><i class="fa fa-bars" aria-hidden="true"></i></div>
                <div><i class="fa-solid fa-circle-arrow-right"></i></div>
            </label>
            <div class="icons">
                <div>
                    <div>
                        <div id="toggle-btn" class="fas fa-sun"></div>
                    </div>
                </div>
            </div>
            <form action="" method="post" class="search-form">
                <input type="text" name="searchGlobal" value="" placeholder="Rechercher" maxlength="100" />
                <button type="submit" name="globalRecherche" class="fas fa-search"></button>
            </form>
        </div>
        <!-- FLEX-RIGHT -->
        <div class="flex-right">
            <div class="date">
                <input type="date" id="choisir_date" name="date" />
            </div>
            <div class="logo">
                <img src="/assets/img/profile.jpeg" class="image" alt="" />
                <div class="info">
                    <p>bobo Sow</p>
                    <small id="user-btn">
                        Admin <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </small>
                </div>
            </div>
        </div>

        <div class="profile">
            <a href="profile.html" class="btn">Voir profile</a>
            <div class="flex-btn">
                <form action="" method="post">
                    <button type="submit" class="option-btn" name="deconnexion">
                        <i class="fa fa-power-off" aria-hidden="true"></i> Se déconnecter
                    </button>
                </form>
            </div>
        </div>
    </header>

    <!-- side-bar -->
    <div class="side-bar">
        <div class="logo">
            <img src="/assets/img/Logo-Sonatel-Academy.png" class="image" alt="" />
            <h3 class="menu">- MENU</h3>
        </div>
        <nav class="navbar">
            <a href="#"><i class="fa fa-align-right" aria-hidden="true"></i><span>Dashboard</span></a>
            <a href="#"><i class="fa fa-graduation-cap" aria-hidden="true"></i><span>Apprenants</span></a>
            <a href="#"><i class="fa fa-list-alt" aria-hidden="true"></i>
                <span>Promos</span></a>
            <a href="#"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i><span>Référentiels</span></a>
            <a href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i><span>Utilisateurs</span></a>
            <a href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i><span>Visiteurs</span></a>
            <a href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i><span>Presences</span></a>
            <a href="#"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i><span>Événements</span></a>
        </nav>
    </div>
    <section class="home-section">
        <div class="title">
            <div class="left">Referentiels</div>
            <div class="right">Referentiels * Liste</div>
        </div>


        <div class="content">
            <div class="display-content">
                <div class="cards">
                    <div class="container-card">
                        <div class="wrapper">
                            <div class="banner-image">
                                <img src="/assets/img/classe.jpg">
                            </div>
                            <p>
                            <div class="promotion">Prolotion 6</div>
                            <div class="date">Du: 01/01/2022 AU 01/01/2023</div>
                            <div class="referentiel">DEV Web /mobile</div>
                            </p>
                        </div>
                        <div class="button-wrapper">
                            <form action="" method="post">
                                <button type="submit" class="btn-hover desactiver" name="referentielPromo" value=""><i
                                        class="fas fa-check"></i> Désactiver
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="container-card">
                        <div class="wrapper">
                            <div class="banner-image">
                                <img src="/assets/img/classe.jpg">
                            </div>
                            <p>
                            <div class="promotion">Prolotion 6</div>
                            <div class="date">Du: 01/01/2022 AU 01/01/2023</div>
                            <div class="referentiel">DEV Web /mobile</div>
                            </p>
                        </div>
                        <div class="button-wrapper">
                            <form action="" method="post">
                                <button type="submit" class="btn-hover activer" name="referentielPromo" value=""><i
                                        class="fas fa-check"></i> Activer
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="container-card">
                        <div class="wrapper">
                            <div class="banner-image">
                                <img src="/assets/img/classe.jpg">
                            </div>
                            <p>
                            <div class="promotion">Prolotion 6</div>
                            <div class="date">Du: 01/01/2022 AU 01/01/2023</div>
                            <div class="referentiel">DEV Web /mobile</div>
                            </p>
                        </div>
                        <div class="button-wrapper">
                            <form action="" method="post">
                                <button type="submit" class="btn-hover activer" name="referentielPromo" value=""><i
                                        class="fas fa-check"></i> Activer
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="container-card">
                        <div class="wrapper">
                            <div class="banner-image">
                                <img src="/assets/img/classe.jpg">
                            </div>
                            <p>
                            <div class="promotion">Prolotion 6</div>
                            <div class="date">Du: 01/01/2022 AU 01/01/2023</div>
                            <div class="referentiel">DEV Web /mobile</div>
                            </p>
                        </div>
                        <div class="button-wrapper">
                            <form action="" method="post">
                                <button type="submit" class="btn-hover activer" name="referentielPromo" value=""><i
                                        class="fas fa-check"></i> Activer
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="container-card">
                        <div class="wrapper">
                            <div class="banner-image">
                                <img src="/assets/img/classe.jpg">
                            </div>
                            <p>
                            <div class="promotion">Prolotion 6</div>
                            <div class="date">Du: 01/01/2022 AU 01/01/2023</div>
                            <div class="referentiel">DEV Web /mobile</div>
                            </p>
                        </div>
                        <div class="button-wrapper">
                            <form action="" method="post">
                                <button type="submit" class="btn-hover activer" name="referentielPromo" value=""><i
                                        class="fas fa-check"></i> Activer
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="container-card">
                        <div class="wrapper">
                            <div class="banner-image">
                                <img src="/assets/img/classe.jpg">
                            </div>
                            <p>
                            <div class="promotion">Prolotion 6</div>
                            <div class="date">Du: 01/01/2022 AU 01/01/2023</div>
                            <div class="referentiel">DEV Web /mobile</div>
                            </p>
                        </div>
                        <div class="button-wrapper">
                            <form action="" method="post">
                                <button type="submit" class="btn-hover activer" name="referentielPromo" value=""><i
                                        class="fas fa-check"></i> Activer
                                </button>
                            </form>
                        </div>
                    </div>  <div class="container-card">
                        <div class="wrapper">
                            <div class="banner-image">
                                <img src="/assets/img/classe.jpg">
                            </div>
                            <p>
                            <div class="promotion">Prolotion 6</div>
                            <div class="date">Du: 01/01/2022 AU 01/01/2023</div>
                            <div class="referentiel">DEV Web /mobile</div>
                            </p>
                        </div>
                        <div class="button-wrapper">
                            <form action="" method="post">
                                <button type="submit" class="btn-hover activer" name="referentielPromo" value=""><i
                                        class="fas fa-check"></i> Activer
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="container-card">
                        <div class="wrapper">
                            <div class="banner-image">
                                <img src="/assets/img/classe.jpg">
                            </div>
                            <p>
                            <div class="promotion">Prolotion 6</div>
                            <div class="date">Du: 01/01/2022 AU 01/01/2023</div>
                            <div class="referentiel">DEV Web /mobile</div>
                            </p>
                        </div>
                        <div class="button-wrapper">
                            <form action="" method="post">
                                <button type="submit" class="btn-hover activer" name="referentielPromo" value=""><i
                                        class="fas fa-check"></i> Activer
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="container-card">
                        <div class="wrapper">
                            <div class="banner-image">
                                <img src="/assets/img/classe.jpg">
                            </div>
                            <p>
                            <div class="promotion">Prolotion 6</div>
                            <div class="date">Du: 01/01/2022 AU 01/01/2023</div>
                            <div class="referentiel">DEV Web /mobile</div>
                            </p>
                        </div>
                        <div class="button-wrapper">
                            <form action="" method="post">
                                <button type="submit" class="btn-hover activer" name="referentielPromo" value=""><i
                                        class="fas fa-check"></i> Activer
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="container-card">
                        <div class="wrapper">
                            <div class="banner-image">
                                <img src="/assets/img/classe.jpg">
                            </div>
                            <p>
                            <div class="promotion">Prolotion 6</div>
                            <div class="date">Du: 01/01/2022 AU 01/01/2023</div>
                            <div class="referentiel">DEV Web /mobile</div>
                            </p>
                        </div>
                        <div class="button-wrapper">
                            <form action="" method="post">
                                <button type="submit" class="btn-hover activer" name="referentielPromo" value=""><i
                                        class="fas fa-check"></i> Activer
                                </button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>


        <div class="display-form">
            <div class="form-new">
                    <div class="first">message</div>
                <h1>Nouveau Référentiel</h1>
                <form action="/referentiels/create" enctype="multipart/form-data" method="post">
                    <div class="content">
                        <div class="input-wrapper">
                            <label for="libelle">Libellé</label>
                            <i class="fas fa-user"></i>
                            <input type="text" value="" name="libelle"
                                   placeholder="Entrer le libellé">
                                <div class="first">Dev mobile web</div>
                        </div>

                        <div class="input-wrapper">
                            <label for="description">Description</label>
                            <i class="fas fa-user"></i>
                            <textarea type="text" name="description"
                                      placeholder="Entrer la description"></textarea>
                                <div class="first">Description</div>
                        </div>
                        <div class="input-wrapper flex-row">
                            <div class="file">
                                <input type="file" id="fileInput" name="imageReferentiel"
                                       onchange="previewImage(event)"/>
                                <div class="error" style="font-size: 1em"></div>
                            </div>
                            <div class="img">
                                <img id="referencielImage" src="/assets/img/classe.jpg" alt="">
                            </div>
                        </div>
                        <div class="input-wrapper">
                            <div class="checkbox-wrapper-2">
                                <input type="checkbox" name="addPromo" value="0" class="sc-gJwTLC ikxBAC">
                            </div>
                        </div>
                        <button type="submit" class="btn-hover activer" name="referentielPromo" value=""><i
                            class="fas fa-check"></i> Enrégistrer
                    </button>
                    </div>
                </form>

            </div>
        </div>
        </div>
        <footer class="footer">&copy; Sonatel Academy</footer>
    </section>

    <div class="fixed-icon">
        <i class="fa-solid fa-gear"></i>
    </div>
</body>
<script src="assets/js/main.js"></script>
<script>
    function previewImage(event) {
        var input = event.target;
        var imageElement = document.getElementById('referencielImage');
        var errorElement = document.querySelector('.error');

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                imageElement.src = e.target.result;
                errorElement.style.display = 'none';
            };

            var fileType = input.files[0].type;
            if (fileType.match(/image.*/)) {
                reader.readAsDataURL(input.files[0]);
            } else {
                errorElement.style.display = 'block';
                errorElement.innerHTML = 'Veuillez sélectionner une image valide.';
                errorElement.style.color = 'red';
                imageElement.src = "/assets/img/classe.jpg"; // Afficher l'image par défaut
                input.value = null; // Vider le champ de sélection de fichier
            }
        } else {
            errorElement.style.display = 'none';
        }
    }

</script>
</html>