.conteneur {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgba(194, 192, 192, 0.37);
    padding: 0 2%;
    margin-bottom: 1.5%;
    background-color: var(--white);
    color: var(--black);
}

.contain2 {
    display: flex;
    align-items: center;
}

.contain2 span {
    font-size: 2.5rem;
    font-weight: bold;
}

.contain1>span:nth-child(2) {
    color: var(--main-color);
    font-weight: bold;
}

/* Style général */
.custom-select {
    position: relative;
    display: inline-block;
    width: 200px;
    /* Largeur de la liste déroulante */
    border: 1px solid var(--light-color);
    border-radius: 4px;
}

/* Style de l'élément sélectionné */
.custom-select .select-selected {
    background-color: var(--light-color);
    cursor: pointer;
    padding-right: 4.5em;
}

/* Flèche pour indiquer le déroulement */
.custom-select .select-selected:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: var(--white) transparent transparent transparent;
}

/* Style de la liste des options */
.custom-select .select-items {
    position: absolute;
    background-color: var(--light-color);
    width: calc(100% - 2px);
    /* Largeur de la liste déroulante moins la bordure */
    max-height: 200px;
    /* Hauteur maximale de la liste déroulante */
    overflow-y: auto;
    border: 1px solid var(--white);
    border-top: none;
    z-index: 99;
}

/* Affichage de la liste lorsqu'elle est activée */
.custom-select.active .select-items {
    display: block;
}

/* Style des options */
.custom-select .select-items div {
    padding: 8px 10px;
    cursor: pointer;
    color: var(--black);
}

/* Effet hover sur les options */
.custom-select .select-items div:hover {
    background-color: var(--white);
}

.container {
    width: 100%;
    height: auto;
    padding: 2% 1% 2% 2%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-col-left {
    height: inherit;
    border: 0.1px solid var(--light-bg);
    margin-right: 2rem;
    width: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flex-col-left::before {
    content: "1";
    text-align: center;
    position: relative;
    border-radius: 50%;
    background-color: var(--main-color);
    color: var(--white);
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    height: 20px;
}

.flex-col-left::after {
    content: "2";
    text-align: center;
    position: relative;
    border-radius: 50%;
    background-color: var(--main-color);
    color: var(--white);
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    height: 20px;
}

.flex-col-right {
    flex: 1;
    padding-top: 4rem;
    color: var(--black);
}

.div1 span {
    color: var(--main-color);
}

.buttons {
    text-align: center;
}

.btn-hover.color-5 {
    background-image: linear-gradient(to right,
            #0ba360,
            #3cba92,
            #30dd8a,
            #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.1);
}

.btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.1);
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.1);
}

.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.1);
}


.line2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;

    align-items: center;
}

.line2 .div1 {
    width: 15%;
    font-size: 1.5em;
    font-weight: bold;
    flex: 1;
}

.line3 {
    position: relative;
    font-size: 1.5rem;
}

.line3 input {
    width: 100%;
    height: 5vh;
    padding-left: 2%;
    border-radius: 10px;
    margin-bottom: 1%;
    border: 3px solid var(--light-color);
    font-size: 2rem;
    background-color: var(--light-bg);
}

.line3 span {
    position: absolute;
    left: 0.5vw;
    top: 1.5vh;
}

.profile-image {
    width: 40px;
    /* Largeur souhaitée */
    height: 40px;
    /* Hauteur souhaitée */
    border-radius: 50%;
    /* Pour rendre l'image ronde */
}

.btn-modifier {
    background-color: transparent;
    /* Arrière-plan transparent */
    border: none;
    /* Pas de bordure */
    cursor: pointer;
    /* Curseur pointeur */
}

.btn-modifier i {
    color: green;
    /* Couleur verte */
    font-size: 20px;
    /* Taille de police 20 */
    margin-left: 20px;
    /* Décalage vers la droite */
}

.btn-modifier:hover i {
    color: red;
    /* Couleur rouge */
}



/* Responsive - Tableau */
@media screen and (max-width: 768px) {

    header {
        flex-direction: column;
        align-items: center;
    }

    .contain1,
    .contain2 {
        margin-bottom: 10px;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

}

/* qr code modal */

/* Modal styles */
#modal-apprenant {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 100px;

}

#modal-apprenant img {
    width: 130px;
    height: 130px;
    /* border-radius: 50%; */
    margin: 3rem;
}

#modal-apprenant div {
    width: 200px;
    height: 400px;
    margin: 20px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style pour le code QR */
#modal-apprenant #qr-code {
    height: 100px;
    width: 200px;
}

.btn-activer {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    margin-left: 5px;
    cursor: pointer;

}


#modal-apprenant .modal-content {
    background: rgb(44, 163, 133);
    background: linear-gradient(90deg, rgba(44, 163, 133, 1) 10%, rgba(255, 175, 0, 0.8379726890756303) 100%);
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 20%;
    /* Could be more or less, depending on screen size */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    height: 50vh;

}

.btn-activer.active {
    background-color: rgb(3, 211, 3);
    width: 40%;
    height: 20%;
    height: 5vh;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: .5rem;
    border: none;
}

.btn-activer:not(.active) {
    background-color: rgb(255, 81, 81);
    width: 40%;
    height: 20%;
    height: 5vh;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: .5rem;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content input[type="checkbox"] {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-left: 20px;
}

.dropdown-content label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    padding: 12px 16px;
    cursor: pointer;
}

.dropdown-content input[type="checkbox"] {
    margin-right: 5px;
}


.dropdown-content input[type="checkbox"] :hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-btn {
    background-color: #555;
}


select#referentiels {
    width: 100%;
    padding: 6px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23333' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 16px 16px;
}

select#referentiels:focus {
    outline: none;
    border-color: #444;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

select#referentiels option {
    padding: 6px;
    font-size: 16px;
}

select#referentiels option:checked {
    background-color: #ddd;
}

@media screen and (max-width: 500px) {
    .barrevertical {
        z-index: -1;
    }

    .line1 {
        position: relative;
        display: flex;
        justify-content: center;
        padding-bottom: 2vh;
    }

    h3 {
        position: absolute;
        left: 65%;
        top: 3%;
    }

    .col-bas {
        display: flex;
        flex-wrap: wrap;
    }

    .line2 {
        display: block;
        margin: 2%;
    }

    .div1 {
        white-space: nowrap;
        margin-bottom: 2vh;
    }

    .line3 input {
        padding-left: 10%;
    }

    .line3 span {
        position: absolute;
        left: .5vw;
        top: 1.5vh;
    }

    .btn-hover {
        font-size: 1.5em;
        padding: 10px;
        border-radius: 6px;
        color: var(--white);
    }

    .color-5,
    .color-2,
    .color-1,
    .color-9 {
        width: 100%;
    }

    .line-titre {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .bloc div {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .col-haut {
        background-color: rgb(153, 224, 221);
        display: none;
        opacity: 1;
        margin-bottom: 10%;
        border-radius: 15px;
    }

    .bloc {
        flex-direction: column;
    }
}


/* Styles pour les écrans de taille moyenne (500px à 1000px) */
@media screen and (min-width: 500px) and (max-width: 1000px) {
    .barrevertical {
        z-index: -1;
    }

    .line1 {
        position: relative;
        display: flex;
        justify-content: center;
        padding-bottom: 2vh;
    }

    .line1 span {
        margin-right: 8%;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .line2 {
        display: block;
        margin: 2%;
    }

    .div1 {
        white-space: nowrap;
        margin-bottom: 2vh;
    }

    h3 {
        position: absolute;
        left: 65%;
        top: 3%;
    }

    .line3 {
        position: relative;
        opacity: .5;
    }

    .line3 input {
        width: 100%;
        height: 5vh;
        padding-left: 6%;
        border-radius: 10px;
        margin-bottom: 2%;
    }

    .line3 span {
        position: absolute;
        left: .5vw;
        top: 1.5vh;
    }

    .new,
    .insert,
    .file,
    .list {
        width: 100%;
    }

    .line-titre {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .bloc div {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .col-haut {
        background-color: rgb(153, 224, 221);
        display: none;
        opacity: 1;
        margin-bottom: 10%;
        border-radius: 15px;
    }

    .line5 .line {
        flex-direction: column;
        border: 1px solid black;
        border-radius: 15px;
        box-shadow: 1px 1px 6px gray;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .bloc {
        flex-direction: column;
    }
}









/* Styles du modal */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 120%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 10px;
    font-size: 2rem;
    z-index: 8;
}

.modal #popup_checkbox {
    display: none;
}


.modal .section .btn-checkbox {
    background-color: #038e89;
    color: var(--white);
    width: 15%;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    padding: .8em;
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
    font-size: 1em;
}

.modal .btn-checkbox-container:hover {
    opacity: 1;
}

.modal #popup_checkbox:checked~.modal-content .stutdent {
    display: none;
}

.modal #popup_checkbox:not(:checked)~.modal-content .stutdent {
    display: block;
}

.modal #popup_checkbox:checked~.modal-content .tuteur {
    display: block;
}

.modal #popup_checkbox:not(:checked)~.modal-content .tuteur {
    display: none;
}

.modal .btn-checkbox {
    transition: transform 0.3s ease-in-out;
}

.modal .btn-checkbox {
    transition: opacity 0.3s ease-in-out;
}

.modal #popup_checkbox:checked+.modal-content .btn-checkbox.next {
    visibility: hidden;
    pointer-events: none;
}

.modal #popup_checkbox:checked+.modal-content .btn-checkbox.prev {
    visibility: visible;
    pointer-events: auto;
}

.modal #popup_checkbox:not(:checked)+.modal-content .btn-checkbox.next {
    visibility: visible;
    pointer-events: auto;
}

.modal #popup_checkbox:not(:checked)+.modal-content .btn-checkbox.prev {
    visibility: hidden;
    pointer-events: none;
}




.modal .input-group .stutdent-image {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.modal .stutdent-image .img {
    width: 6em;
    height: auto;
    overflow: hidden;
    border-radius: 5em;
    position: relative;
    /* add this to position the image container relatively */
}

.modal .stutdent-image .img img {
    width: 100%;
    height: auto;
    cursor: pointer;
    /* add this to make the image clickable */
}


/* Affichage du popup */
.modal:target {
    display: block;
}

/* Affichage du modal lorsque la cible est sélectionnée */
/* Conteneur du popup */
.modal-content {
    background-color: var(--white);
    color: var(--black);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Ajustement de la largeur pour les écrans larges */
    max-width: 1200px;
    /* Limitation de la largeur maximale */
    position: relative;
}

/* Styles de l'en-tête du modal */
.modal .head {
    padding: 1%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    background: var(--light-bg);
    width: 100%;

}

.modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

/* style du bouton pour fermer */
.modal .close:hover,
.modal .close:focus {
    color: var(--black);
    cursor: pointer;
}

/* Styles des liens */
.modal a {
    text-decoration: none;
}

/* Styles des sections du popup */
.modal .section {
    position: relative;

    margin-top: 5%;
    /* Espacement supérieur */
}



/* Styles pour la première ligne de contenu */
.modal .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3% 0;
    /* Espacement supérieur et inférieur */
    font-size: 1em;
}

/* Styles pour les éléments de la première ligne de contenu */
.modal .line :nth-child(1) {
    background: var(--main-color);
    height: 50px;
    color: var(--white);
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-right: 1%;
}

.modal .line :nth-child(3) {
    width: 48%;
    /* Largeur réduite pour les écrans plus petits */
    height: 1px;
    background: var(--light-bg);
}

.modal .line :nth-child(4) {
    text-align: center;
    height: 50px;
    border-radius: 100%;
    font-weight: bold;
    width: 4%;
    margin-right: auto;
}

.modal .line :nth-child(5) {
    margin-left: 1%;
}

/* Styles pour le groupe d'entrées */
.modal .input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.modal .input-group>div {
    width: 49%;
    margin-bottom: 10px;
}

.modal .input-group label {
    display: block;
    margin-bottom: 5px;

}

.modal .input-group input[type="text"],
.modal .input-group input[type="file"] {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Nouveaux styles pour le conteneur des boutons */
.modal .btn-container {
    position: absolute;
    bottom: 10%;
    right: 0.1%;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    width: 40%;
}

.btn-hover.submit {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
    width: 20%;
    transition: width 0.5s;
    transform: translateY(-250%);

    &:active {
        width: 20%;
        transition: width 0.5s;
    }
}

.btn-hover.cancel {
    background-image: linear-gradient(to right, #dfc4d1, #c2aab5, #af839d, #997180);
    box-shadow: 0 4px 15px 0 rgba(204, 206, 205, 0.75);
    width: 30%;
}


/* Nouveaux styles pour les boutons sur les petits écrans */
@media screen and (max-width: 480px) {
    .modal .modal-content {
        width: 90%;
        margin: 5% auto;
    }

    .modal .input-group>div {
        width: 100%;
    }

    .modal .line {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .modal .line :nth-child(1) {
        margin-right: 0;
        margin-bottom: 5%;
    }

    .modal .line :nth-child(3) {
        width: 70%;
        margin-bottom: 5%;
    }

    .modal .line :nth-child(4) {
        width: 80%;
        margin-right: 0;
        margin-bottom: 5%;
    }

    .modal .btn-container {
        flex-direction: column;
        align-items: center;
    }

    .modal .btn-container .btn {
        width: 100%;
        margin-bottom: 5px;
    }
}

/* Styles pour le groupe d'entrées */
.modal .input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.modal .input-group>div {
    width: 49%;
    margin-bottom: 10px;
}

.modal .input-group label {
    display: block;
    margin-bottom: 5px;
}

/* Styles pour les champs d'entrée */
.modal .input-group input[type="text"],
.modal .input-group input[type="email"],
.modal .input-group input[type="file"],

.modal .input-group select {
    width: calc(100% - 20px);
    /* Largeur ajustée avec marge */
    padding: 12px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: var(--white);
    color: var(--black);
    font-size: 1.8rem;
}


.modal [type="date"] {
    background: var(--white) url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 98% 50% no-repeat;
    color: var(--main-color);
}

.modal [type="date"]::-webkit-inner-spin-button {
    display: none;
}

.modal [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    width: 78%;
}

.modal input {
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    height: 45px;
    color: var(--light-color);
    font-size: 2rem;
    padding-left: 3rem;
    width: 96%;
    margin-bottom: 6px;
}

/* styles pour les boutons sur les petits écrans */
@media screen and (max-width: 480px) {
    .modal .modal-content {
        width: 90%;
        margin: 5% auto;
    }

    .modal .input-group>div {
        width: 100%;
    }

    .modal .line {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .modal .line :nth-child(1) {
        margin-right: 0;
        margin-bottom: 5%;
    }

    .modal .line :nth-child(3) {
        width: 70%;
        margin-bottom: 5%;
    }

    .modal .line :nth-child(4) {
        width: 80%;
        margin-right: 0;
        margin-bottom: 5%;
    }

    .modal .btn-container {
        width: 100%;
        max-width: 600px;
    }

    .modal .btn-container .btn {
        margin-bottom: 5px;
        width: 100%;
    }
}



/* exel */

.excel {
    display: none;
}

.excel:target {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 5;

}

.popup {
    background-color: var(--light-bg);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    max-width: 100%;
    margin: 20px auto;
}

.popup-header {
    font-size: 18px;
    color: var(--black);
    margin-bottom: 20px;
}

.drop-zone {
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.drop-zone:hover {
    border-color: #333;
}

.drop-zone-text {
    width: 100%;
    border: 2px solid hsl(0, 0%, 21%);
    border-radius: 3px;
    display: block;
    padding: 5px;
    text-align: center;
}

.hidden-input:focus+.drop-zone .file-selected-text {
    display: inline-block;
}

.upload {
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.btn-red {
    background-color: #fd0000;
    color: var(--black);
    font-size: 2em;
}

.btn-green {
    background-color: var(--main-color);
    color: var(--black);
    font-size: 2em;
}

.footer-btns {
    display: flex;
    justify-content: flex-end;
    gap: 1%;
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 600px) {
    .popup {
        width: 90%;
    }

    .upload {
        height: 100px;
    }
}

/* Style général */
.custom-select {
    position: relative;
    display: inline-block;
    width: 200px;
    /* Largeur de la liste déroulante */
    border: 1px solid #ccc;
    border-radius: 4px;

}

/* Style de l'élément sélectionné */
.custom-select .select-selected {
    background-color: #dad6d6;
    cursor: pointer;
    padding-right: 4.5em;
}

/* Flèche pour indiquer le déroulement */
.custom-select .select-selected:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #888 transparent transparent transparent;
}

/* Style de la liste des options */
.custom-select .select-items {
    position: absolute;
    background-color: var(--white);
    width: calc(100% - 2px);
    /* Largeur de la liste déroulante moins la bordure */
    max-height: 200px;
    /* Hauteur maximale de la liste déroulante */
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 99;
}



/* Affichage de la liste lorsqu'elle est activée */
.custom-select.active .select-items {
    display: block;
}

/* Style des options */
.custom-select .select-items div {
    padding: 8px 10px;
    cursor: pointer;
}

/* Effet hover sur les options */
.custom-select .select-items div:hover {
    background-color: #ddd;
}